__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
projectenv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
.git/
.gitignore
README.md
.env
.DS_Store
artifact/
logs/
*.log
.vscode/
.idea/
